<div class="list card">
  <div class="item item-image">
    <img ng-src="http://cdn.history.com/sites/2/2015/04/hith-eiffel-tower-iStock_000016468972Large.jpg">
  </div>

  <div class="item card-info">
    <div class="row">
      <div class="col">location from foursquare API</div>
      <div class="col">date and time</div>
    </div>
  </div>

  <div class="item item-text-wrap">
    If the image is from Instagram, the instagram text would go here.
  </div>
</div>

<div class="list card">
  <div class="item item-text-wrap">
    A note or a tweet would essentially look like this. Tweet would maybe have a word bubble around and a twitter logo or something.
  </div>

  <div class="item card-info">
    <div class="row">
      <div class="col">location from foursquare API</div>
      <div class="col">date and time</div>
    </div>
  </div>
</div>
