<ion-view>
  <ion-nav-title>Previous Trips</ion-nav-title>

  <ion-content class="has-header" padding="true">
    <div ng-if="trips.length === 0" class="center-text">
      Looks like you haven't been on any trips yet!
    </div>
    <div class="list">
      <div class="item item-button-right" ng-repeat="trip in trips">
        {{trip.attributes.start | date:'mediumDate'}} - {{trip.attributes.end | date:'mediumDate'}}
        <button class="button button-calm" ng-click="$state.go('trip', {id: '{{trip.id}}'});">View</button>
      </div>
    </div>
  </ion-content>
</ion-view>
