<map center="[{{center.lat}}, {{center.lng}}]" zoom-control="false" style="height: 90%;">
  <marker position="[{{userLoc.lat}}, {{userLoc.lng}}]" icon="{{userIcon}}"></marker>

  <marker on-click="detail(event, marker)" ng-repeat="marker in markers" position="[{{marker.location.latitude}}, {{marker.location.longitude}}]"></marker>

  <shape name="polyline" path="{{path}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2"></shape>
</map>

<rzslider
  rz-slider-model="slider.minValue"
  rz-slider-high="slider.maxValue"
  rz-slider-options="slider.options"
  ></rzslider>
