<ion-nav-bar class="bar-positive">
  <ion-nav-view>
    <ion-nav-bar-content side="center">
    </ion-nav-bar-content>
      <ion-nav-buttons side="center">
        <button class="button">Map</button>
        <button class="button">Card</button>
      </ion-nav-buttons>
      <ion-content class="has-header">
        <trip-card></trip-card>
      </ion-content>
  </ion-nav-view>
</ion-nav-bar>

<ion-tabs class="tabs-positive tabs-icon-only">
      <ion-tab icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ng-click="takePicture()"></ion-tab>
      <ion-tab icon-on="ion-social-twitter" icon-off="ion-social-twitter-outline" ></ion-tab>
      <ion-tab icon-on="ion-ios-location" icon-off="ion-ios-location-outline" ></ion-tab>
      <ion-tab icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ng-click="makeNote()"></ion-tab>
      <ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/setting"></ion-tab>
</ion-tabs>
