<ion-view hide-back-button="true">
  <ion-nav-title>
    <ion-tabs class="tabs-background-positive tabs-color-light">
      <!-- when this tab is clicked, it should hide the map container, and show the trip-card tag -->
      <ion-tab title="Cards" icon-on="ion-ios-albums" icon-off="ion-ios-albums-outline" class="tab-color-light"></ion-tab>
      <!-- when this tab is clicked, it should hide the trip-card tag, and show the map tag -->
      <ion-tab title="Map" icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" class="tab-color-light"></ion-tab>
    </ion-tabs>
  </ion-nav-title>
  
  <ion-content class="has-header">
    <!-- <trip-card></trip-card> -->
    <mapview></mapview>
  </ion-content>

  <ion-footer-bar class="bar-positive">
    <div class="button-bar">
      <button class="icon ion-camera button button-clear" ng-click="takePicture()"></button>
      <button class="icon ion-social-twitter button button-clear"></button>
      <button class="icon ion-location button button-clear"></button>
      <button class="icon ion-compose button button-clear" ng-click="makeNote()"></button>
      <button class="icon ion-gear-a button button-clear" ng-click="$state.go('setting')"></button>
    </div>
  </ion-footer-bar>
</ion-view>
