<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Make a Note</h1>
    <button class="button button-clear icon-right ion-close button-positive button-dark" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <textarea id="make-note" ng-model="modal.note"></textarea>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <button class="button button-full button-clear note-submit" ng-click="saveNote()">Submit</button>
  </ion-footer-bar>
</ion-modal-view>
